.footer {
    padding-left: 260px;
    padding-right: 274px;
}

.footer__small-text {
    color: #C5C5C5;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    /* text-decoration-line: underline; */
}

.footer__link {
    color: #C5C5C5;    
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    text-decoration-line: underline;
}

@media screen and (max-width: 375px) {
    .footer {
        padding: 55px 32px 72px;
    }

    .footer__small-text {
        font-size: 10px;    
    }

    .footer__link {
        font-size: 10px;        
    }
}